*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    background:#f4f4f4;
    font-family:Arial,Helvetica,sans-serif;
}

.top-bar{
    height:8px;
    background:#8d1b1b;
    
}
.verification-card {
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}


.logo img{
    width: 400px;
    height: auto
}

h1{
    text-align:center;
    color:#8d1b1b;
    margin:30px 0;
}

.greeting{
    font-size:20px;
    font-weight:bold;
}

p{
    color:#555;
    line-height:1.8;
}

.status{

    display:flex;

    align-items:center;

    gap:20px;

    background:#f7f7f7;

    padding:20px;

    border-left:5px solid #8d1b1b;

    margin:35px 0;

    border-radius:6px;
}

.spinner{

    width:45px;

    height:45px;

    border:5px solid #ddd;

    border-top:5px solid #8d1b1b;

    border-radius:50%;

    animation:spin 1s linear infinite;
}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}

.continue-btn{

    width:100%;

    padding:16px;

    border:none;

    border-radius:30px;

    background:#8d1b1b;

    color:white;

    font-size:18px;

    cursor:pointer;
}

.continue-btn:hover{

    background:#701515;
}

footer{

    margin-top:30px;

    text-align:center;

    color:#777;

    font-size:14px;
}

@media screen and (max-width: 768px) {

    .verification-card{
        width:95%;
        padding:20px;
        margin:20px auto;
    }

    h1{
        font-size:28px;
    }

    p{
        font-size:16px;
    }

    .logo img{
        width:170px;
        height:auto;
    }

    .status{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .continue-btn{
        width:100%;
        font-size:18px;
    }

    footer{
        font-size:13px;
        padding:15px;
    }
}