*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height:100vh;
    padding:40px 20px;
}

.container{
    width:100%;
    max-width:430px;
    text-align:center;
}

.check-circle{
    width:140px;
    height:140px;
    margin:0 auto;
    border-radius:50%;
    background:#22c55e;
    color:#fff;
    font-size:75px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:
        0 0 0 12px rgba(34,197,94,.12),
        0 0 40px rgba(34,197,94,.25);
}

h1{
    color:#0b7d3b;
    font-size:48px;
    margin-top:35px;
    font-weight:700;
}

.line{
    width:90px;
    height:4px;
    background:#22c55e;
    margin:25px auto 35px;
    border-radius:20px;
}

.main-text{
    font-size:24px;
    line-height:1.6;
    color:#222;
}

.main-text span{
    color:#0b8f43;
    font-weight:bold;
}

.sub-text{
    margin-top:35px;
    font-size:20px;
    color:#444;
    line-height:1.6;
}

.security-box{
    margin-top:50px;
    padding:35px 25px;
    border-radius:25px;
    background:#f7fff8;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.shield{
    font-size:60px;
    margin-bottom:15px;
}

.security-box h2{
    color:#0b8f43;
    font-size:34px;
    margin-bottom:18px;
}

.security-box p{
    font-size:20px;
    color:#444;
    line-height:1.7;
}

.security-box strong{
    color:#16a34a;
}

.heart{
    margin-top:45px;
    font-size:55px;
    color:#22c55e;
}

h3{
    margin-top:18px;
    color:#0b8f43;
    font-size:34px;
}

.thanks{
    margin-top:12px;
    color:#555;
    font-size:22px;
}

.continue-btn{
    margin-top:40px;
    width:100%;
    padding:18px;
    background:#16a34a;
    color:white;
    border:none;
    border-radius:14px;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

.continue-btn:hover{
    background:#13833d;
}

.check-circle img{
    width:70px;
}

.shield img{
    width:75px;
}

.heart img{
    width:55px;
}
